[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "boxplotdbl"]
	path = boxplotdbl
	url = https://github.com/cran/boxplotdbl
[submodule "diaplt"]
	path = diaplt
	url = https://github.com/cran/diaplt
[submodule "elliplot"]
	path = elliplot
	url = https://github.com/cran/elliplot
